<footer class="bwc-footer bwc-section">

  <div class="container">
    <div class="section-text">
      <h1>Let's grow something beautiful.</h1>
      <p>Interested in partnering together? Shoot us a message, and we’ll get in touch.</p>
    </div>

    <div class="row">
      <div class="col-6">
        <button>Fill out a questionnaire</button>
      </div>

      <div class="col-6">
        <button class="highlight">Send an e-mail</button>
      </div>
    </div>

    <div class="row copyright">
      <p>&copy; {{ site.title | escape }} {{ site.time | date: '%Y' }}</p>

      <!--<ul>
        <li>Instagram</li>
        <li>Dribbble</li>
      </ul>-->
    </div>
  </div>

</footer>