<section class="contact" id="contact">
  <div class="content">
    <div class="half-page">
      <header>
        <h1>Ready to be dazzled?</h1>
        <p>Let's make magic together. <br /> Shoot us a message, and we’ll get in touch.</p>
      </header>
      
      <div class="contact-buttons">
        <a href="http://bewildercreative.typeform.com/to/Oja7lk" target="_blank"><button class="highlight">Give us the details</button></a>
        <a href="mailto:hello@bewildercreative.co" target="_blank"><button>Send an e-mail</button></a>
      </div>
    </div>

    <div class="half-page">
      <img alt="An image of a woman in the woods holding a glowing yellow orb in the palms of her hands" src="assets/images/footer/dazzling.gif" />
    </div>
  
  </div>
</section>