<header id="hero">
  <div id="lights" class="svg-container">
    <svg width="100%" height="100%">
      <circle class="light-base light light-1"  />
      <circle class="light-glow light light-1" />

      <circle class="light-base light light-2"  />
      <circle class="light-glow light light-2" />

      <circle class="light-base light light-3"  />
      <circle class="light-glow light light-3" />

      <circle class="light-base light light-4"  />
      <circle class="light-glow light light-4" />

      <circle class="light-base light light-5"  />
      <circle class="light-glow light light-5" />
    </svg>
  </div>

  <section>
    <img id="logo" alt="Be Wilder Creative" src="{{ site.logo }}" />

    <h2>An all-women studio providing beautiful, accessible, and functional design solutions.</h2>

    <!--<button>Get to know us</button>-->
  </section>
</header>