$orange: #f9673d;
$blue: #3536cc;
$navy: #00006c;
$off-white: #f5f1f1;
$grey: #c4b7b5;
$green: #0a7e5e;
$yellow: #ffd150;

$body-font-family: "Rubik", sans-serif;
$header-font-family: "Zilla Slab", serif;