@import "base";
@import "typography";

//@media only screen and (max-width: 2560px) {
  button {
    @include transition(background .25s, border .25s);
    color: $blue;
    background: $off-white;
    font-family: $body-font-family;
    padding: 1rem * $xxl-multiplier;
    margin-top: 1rem;
    min-width: 14rem;
    border: $xxl-px solid $blue;

    &:hover {
      cursor: pointer;
      background: $navy;
      border: $xxl-px solid $navy;
      color: $yellow;
    }

    &#hero-button {
      background: $yellow;
      color: $navy;
      border: $xxl-px solid $yellow;
    }

    &.highlight {
      background: $orange;
      color: $off-white;
      border: $xxl-px solid $orange;
    }

    &.highlight:hover {
      cursor: pointer;
      background: $navy;
      border: $xxl-px solid $navy;
      color: $yellow;
    }

    &:active {
      background: $navy;
      border: $xxl-px solid $navy;
      color: $yellow;
    }
  }
//}

@media only screen and (max-width: 1920px) {
  button {
    padding: 1rem * $xl-multiplier;
    margin-top: 1rem;
    min-width: 14rem;
    border: $xl-px solid $blue;

    &:hover {
      border: $xl-px solid $navy;
    }

    &#hero-button {
      border: $xl-px solid $yellow;
    }

    &.highlight {
      border: $xl-px solid $orange;
    }

    &.highlight:hover {
      border: $xl-px solid $navy;
    }

    &:active {
      border: $xl-px solid $navy;
    }
  }
}

@media only screen and (max-width: 1440px) {
  button {
    padding: 1rem;
    margin-top: 1rem;
    min-width:12rem;
    border: $base-px solid $blue;

    &:hover {
      border: $base-px solid $navy;
    }

    &#hero-button {
      border: $base-px solid $yellow;
    }

    &.highlight {
      border: $base-px solid $orange;
    }

    &.highlight:hover {
      border: $base-px solid $navy;
    }

    &:active {
      border: $base-px solid $navy;
    }
  }
}

//@media only screen and (max-width: 414px) {
@media only screen and (max-width: $sm-breakpoint) {
  button {
    padding: 0.75rem;
    min-width: 10rem;
    border: $sm-px solid $blue;

    &:hover {
      border: $sm-px solid $navy;
    }

    &#hero-button {
      border: $sm-px solid $yellow;
    }

    &.highlight {
      border: $sm-px solid $orange;
    }

    &.highlight:hover {
      border: $sm-px solid $navy;
    }

    &:active {
      border: $sm-px solid $navy;
    }
  }
}