@import "base";

$button-margin: 0.25rem;
$half-page-width: 45%;
$half-page-min-width: 20rem;
$half-page-margin: 0.75rem;
$base-img-size: 22rem;
$base-min-height: 30rem;
$base-max-height: 26rem;
$base-button-width: 12rem;

$base-copyright-height: 5rem;

section.contact {
  margin-bottom: 0rem;
}

.contact {
  background: $grey;
  //background: linear-gradient( $off-white 40%, $navy 90% ); /* Standard syntax */

  .content {
    width: 65%;
    max-width: 90rem;
    //width: 100rem;
    //max-width: 100rem;
    height: 50vh;
    //min-height: $base-min-height * $xxl-multiplier;
    max-height: $base-max-height * $xxl-multiplier;

    display: -webkit-inline-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  header {
    margin-top: -3rem;
    margin-bottom: 2.5rem;
    padding: 0;
  }

  button {
    margin: $button-margin;
    min-width: $base-button-width * $xxl-multiplier;
  }

  .contact-buttons {
    margin-top: -1.5rem;
    margin-bottom: 1rem;
  }

  img {
    max-width: $base-img-size * $xxl-multiplier;
  }
}

.half-page {
  width: $half-page-width;
  min-width: $half-page-min-width;
  margin: $half-page-margin;

  //background: $off-white;
}

footer {
  height: $base-copyright-height * $xxl-multiplier;
  display: -webkit-inline-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 1920px) {
  .contact {
    .content {
      width: 80%;
      min-height: $base-min-height * $xl-multiplier;

      img {
        max-width: $base-img-size * $xl-multiplier;
      }

      button {
        min-width: $base-button-width * $xl-multiplier;
      }
    }
  }

  footer {
    height: $base-copyright-height * $xl-multiplier;
  }
}

@media only screen and (max-width: 1440px) {
  .contact {
    .content {
      height: 60vh;
      min-width: 100%;
      min-height: $base-min-height;

      button {
        min-width: $base-button-width;
      }

      img {
        max-width: $base-img-size;
      }
    }
  }

  footer {
    height: $base-copyright-height;
  }
}

@media only screen and (max-width: 1366px) and (orientation: landscape){ 
  .contact {
    .content {
      height: 40vh;
    }

    header {
      margin-top: -3rem;
    }

    img {
      margin-top: 3rem;
      margin-bottom: 3rem;
    }
  } 
}

@media only screen and (max-width: 1024px) {
  .contact {
    .content {
      height: 40vh;
      min-height: $base-min-height * 1.25;
      -webkit-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;

      img {
        max-width: 20rem;
        margin-top: 1rem;
        margin-bottom: -2rem;
      }
    }

    header {
      margin-top: 0rem;
    }
  }

  .half-page {
    width: 48%;
    min-width: $half-page-min-width * 1.5;
    margin: $half-page-margin;
  } 
}

@media only screen and (max-width: $sm-breakpoint) {
  .contact {
    .content {
      button {
        min-width: $base-button-width * $sm-multiplier;
      }

      img {
        max-width: $base-img-size * $sm-multiplier;
      }
    }

    .half-page {
      width: 48%;
      min-width: $half-page-min-width;
      margin: $half-page-margin * $sm-multiplier;
    } 
  }
}