@import "base";

$button-margin: 0.25rem;
$half-page-width: 45%;
$half-page-min-width: 20rem;
$half-page-margin: 0.75rem;

$base-img-size: 20rem;

section.contact {
  margin-bottom: 0rem;
}

.contact {
  background: $grey;

  .content {
    min-height: 60vh;
    display: -webkit-inline-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  header {
    margin-top: -3rem;
    margin-bottom: 2.5rem;
    padding: 0;
  }

  button {
    margin: $button-margin;
  }

  .contact-buttons {
    margin-top: -1.5rem;
    margin-bottom: 1rem;
  }

  img {
    max-width: $base-img-size * $xxl-multiplier;
  }
}

.half-page {
  width: $half-page-width;
  min-width: $half-page-min-width;
  margin: $half-page-margin;
}

footer {
 height: 3rem;
 padding-top: 1rem;
 padding-bottom: 1rem;
}

@media only screen and (max-width: 1920px) {
  .contact {
    .content {
      img {
        max-width: $base-img-size * $xl-multiplier;
      }
    }
  }
}

@media only screen and (max-width: 1440px) {
  .contact {
    .content {
      img {
        max-width: $base-img-size;
      }
    }
  }
}

@media only screen and (max-width: 1366px) and (orientation: landscape){ 
  .contact {
    .content {
      min-height: 50vh;
    }

    header {
      margin-top: -3rem;
    }

    img {
      margin-top: 3rem;
      margin-bottom: 3rem;
    }
  } 
}

@media only screen and (max-width: 1024px) {
  .contact {
    .content {
      min-height: 40vh;
      -webkit-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;

      img {
        margin-top: 1rem;
        margin-bottom: -2rem;
      }
    }

    header {
      margin-top: 0rem;
    }
  }

  .half-page {
    width: 48%;
    min-width: $half-page-min-width;
    //background: white;
    margin: $half-page-margin;
  } 
}

/* TO DO
- copyright div expands when keyboard is being used
- mobile section sizes
*/


/*.contact {
  height: 70vh;
  background: $grey;
  //overflow: hidden;
  .section-text {
  }
  button {
    margin: 0.5rem;
  }
  img {
    width: 45vw;
    min-width: 40rem;
    padding-top: -2rem;
  }
}
.copyright {
  margin: 0 auto;
  color: $navy;
  width:100%;
  text-align: center;
  background: $off-white;
  position: absolute;
  bottom: 0;
  p {
    display: inline-block;
  }
  ul {
    list-style: none;
    display: inline-block;
    li {
      display: inline-block;
    }
  }
}*/