@import "base";

$base-icon-size: 14rem;
$base-module-height: 18rem;
$base-icon-offset: 45rem;
$base-button-offset: 25rem;
$base-icon-bg-size: 10.5rem; // 11 for JT
$base-text-padding: 8rem;
$base-li-padding: 6rem;
$base-button-width: 12rem;

$base-xxl-offset: 68rem;
$base-xxl-button-offset: 48rem;

$base-xl-offset: 42rem;
$base-xl-button-offset: 22rem;

$module-text-base-width: 50rem;
$module-text-base-height: 14rem;

//@media only screen and (max-width: 2560px) {
  #team { 
    .content {
      width: 75rem;
      margin: 0 auto;
      //max-width: 100rem;
    }

    ul {
      list-style-type: none;
      margin: 0 auto;
      padding: 0;
    }

    .icon-container {
      position: relative;
      width: 75rem;
      height: $base-icon-size * $xxl-multiplier;
      padding-bottom: 1.5rem;
    }

    .icon {
      position: absolute;
      //right: $base-icon-offset * $xxl-multiplier;
      //right: $base-xxl-offset * $xxl-multiplier;
      right: 51rem;
      margin-top: ( $base-module-height - $base-icon-size )/2;
      width: $base-icon-size * $xxl-multiplier;
      height: $base-icon-size * $xxl-multiplier;
      background: $navy;
      border-radius: 50%;

      background-size: $base-icon-bg-size * $xxl-multiplier;
      background-repeat: no-repeat;
      background-position: 50% ( 2.5rem  * $xxl-multiplier );
    }

    /*#Janny-icon {
      background-size: 10.5rem  * $xxl-multiplier;
      background-position: 50% ( 2.25rem  * $xxl-multiplier );
    }*/

    button {
      position: absolute;
      width: $base-button-width * $xxl-multiplier;
      margin-top: -( ($base-icon-size  * $xxl-multiplier) / 8);
      //right: $base-button-offset  * $xxl-multiplier;
      right: 25rem;
    }

    li {
      margin: 0 auto;
      padding: 0;
      padding-bottom: $base-li-padding * $xxl-multiplier;
      width: 100%;


      .module-text {
        margin-left: auto;
        display: -webkit-flex;
        display: flex;
        align-items: center;
        //width: $module-text-base-width  * $xxl-multiplier;
        width: 58rem;
        height: $base-module-height  * $xxl-multiplier;
        background: $grey;
        text-align: left;
      }

      .blue-line {
        margin-left: auto;
        height: $xxl-px;
        background: $blue;
        width: $module-text-base-width * $xxl-multiplier;
        margin-top: $xxl-px;
      }

      //p {
      .module-content {
        width: 65%;
        //width: 50%;
        padding-left: $base-text-padding  * $xxl-multiplier;
      }
    }

    li:nth-child(even) {
      .module-text {
        margin: 0;
        text-align: right;
      }

      //p {
      .module-content {
        margin-left: auto;
        padding-left: 0;
        padding-right: $base-text-padding  * $xxl-multiplier;
      }

      .icon {
        //left: $base-icon-offset  * $xxl-multiplier;
        //left: $base-icon-offset * $xxl-multiplier;
        left: 51rem;
      }

      button {
        //left: $base-button-offset  * $xxl-multiplier;
        left: 25rem;
      }

      .blue-line {
        margin-left: 0;
      }
    }
  }
//}

@media only screen and (max-width: $xl-breakpoint) {
  #team { 
    .content {
      width: 70rem;
      margin: 0 auto;
    }

    .icon-container {
      width: 70rem;
      height: $base-icon-size * $xl-multiplier;
    }

    .icon {
      //right: $base-icon-offset  * $xl-multiplier;
      right: $base-icon-offset  * $xl-multiplier;
      width: $base-icon-size  * $xl-multiplier;
      height: $base-icon-size  * $xl-multiplier;

      background-size: $base-icon-bg-size  * $xl-multiplier;
      background-position: 50% ( 2.5rem  * $xl-multiplier );
    }

    /*#Janny-icon {
      background-size: ( $base-icon-bg-size + 1rem ) * $xl-multiplier;
      background-position: 75% ( 2.25rem  * $xl-multiplier );
    }*/

    button {
      width: $base-button-width * $xl-multiplier;
      margin-top: -( ( $base-icon-size  * $xl-multiplier ) / 8);
      right: $base-button-offset  * $xl-multiplier;
    }

    li {
      padding-bottom: $base-li-padding  * $xl-multiplier;

      .module-text {
        width: $module-text-base-width  * $xl-multiplier;
        height: $base-module-height  * $xl-multiplier;
      }

      .blue-line {
        height: $xl-px;
        width: $module-text-base-width * $xl-multiplier;
        margin-top: $xl-px;
      }

      //p {
      .module-content {
        width: 65%;
        //width: 50%;
        padding-left: $base-text-padding  * $xl-multiplier;
      }
    }

    li:nth-child(even) {
      //p {
      .module-content {
        padding-left: 0;
        padding-right: $base-text-padding  * $xl-multiplier;
      }

      .blue-line {
        margin-left: 0;
      }

      .icon {
        left: $base-icon-offset  * $xl-multiplier;
      }

      button {
        left: $base-button-offset  * $xl-multiplier;
      }
    }
  }
}

@media only screen and (max-width: 1440px) {
  #team { 
    .content {
      width: 100%;
    }

    .icon-container {
      position: static;
      width: 100%;
      height: $base-icon-size;
      padding-bottom: 1.5rem;
    }

    .icon {
      position: absolute;
      right: $base-icon-offset;
      width: $base-icon-size;
      height: $base-icon-size;

      background-size: $base-icon-bg-size;
      background-position: 50% 2.5rem;
    }

/*#Janny-icon {
      background-size: $base-icon-bg-size + 1rem;
      background-position: 75% 2.25rem;
    }*/

    button {
      position: absolute;
      width: $base-button-width;
      right: $base-button-offset;
      margin-top: -( ( $base-icon-size ) / 8);
      z-index: 3;
    }

    li {
      padding-bottom: $base-li-padding;

      .module-text {
        width: $module-text-base-width;
        height: $base-module-height;
      }

      .blue-line {
        height: $base-px;
        width: $module-text-base-width;
        margin-top: $base-px;
      }

      //p {
      .module-content {
        width: 65%;
        //width: 50%;
        padding-left: $base-text-padding;
      }
    }

    li:nth-child(even) {
      //p {
      .module-content {
        padding-left: 0;
        padding-right: $base-text-padding;
      }

      .blue-line {
        margin-left: 0;
      }

      .icon {
        left: $base-icon-offset;
      }

      button {
        left: $base-button-offset;
      }
    }
  }
}

@media only screen and (max-width: 1024px) { 
  #team { 
    .icon {
      right: 35rem;
    }

    button {
      right: 20rem;
    }

    li {
      .module-text {
        width: 40rem;
      }

      .blue-line {
        width: 40rem;
      }
    }

    li:nth-child(even) {
      .icon {
        left: 35rem;
      }

      button {
        left: 20rem;
      }
    }
  }
}

@media only screen and (max-width: 900px) { 
  #team { 
    .icon {
      right: 30rem;
    }

    button {
      right: 15rem;
    }

    li {
      .module-text {
        width: 35rem;
      }

      .blue-line {
        width: 35rem;
      }
    }

    li:nth-child(even) {
      .icon {
        left: 30rem;
      }

      button {
        left: 15rem;
      }
    }
  }
}

@media only screen and (max-width: 768px) { 
  #team {
    .icon {
      right: 25rem;
    }

    button {
      right: 5rem;
    }

    li {
      .module-text {
        width: 30rem;
      }

      .blue-line {
        width: 30rem;
      }
    }

    li:nth-child(even) {
      .icon {
        left: 25rem;
      }

      button {
        left: 5rem;
      }
    }
  }
}

@media only screen and (max-width: 626px) { 
  #team {
    .icon {
      right: 22rem;
    }

    button {
      right: 2rem;
    }

    li {
      .module-text {
        width: 27rem;
      }

      .blue-line {
        width: 27rem;
      }
    }

    li:nth-child(even) {
      .icon {
        left: 22rem;
      }

      button {
        left: 2rem;
      }
    }
  }
}

@media only screen and (max-width: 585px) { 
  #team { 
    .icon {
      right: 16rem;
    }

    button {
      right: 2rem;
    }

    li {
      .module-text {
        width: 25rem;
      }

      .blue-line {
        width: 25rem;
      }

      //p {
      .module-content {
        padding-left: 10rem;
      }
    }

    li:nth-child(even) {
      .icon {
        left: 16rem;
      }

      button {
        left: 2rem;
      }

      //p {
      .module-content {
        padding-left: 0rem;
        padding-right: 10rem;
      }
    }
  }
}

/*@media only screen and (max-width: 446px) { 
  #team {
    .icon {
      right: 13rem;
    }

    li {
      .module-text {
        width: 20rem;
      }      
      
      .blue-line {
        width: 20rem;
      }

      //p {
      .module-content {
        padding-left: 8rem;
      }
    }

    li:nth-child(even) {
      .icon {
        left: 13rem;
      }

      //p {
      .module-content {
        padding-left: 0;
        padding-right: 8rem;
      }
    }
  }
}*/

//@media only screen and (max-width: 414px) {
@media only screen and (max-width: 479px) {
  #team { 

    ul {
      margin-top: -3rem;
      margin-bottom: 15rem;
    }

    .icon {
      right: 0;
      margin: 0 auto;
      //position: relative;
      position: relative;
      margin-top: 5rem;
      //top: 10;
      //right: 0;
      z-index: 3;
    }

    /*#Janny-icon {
      background-size: ( $base-icon-bg-size + 1rem ) * $sm-multiplier;
      background-position: 75% ( 2.25rem  * $sm-multiplier );
    }*/

    button {
      margin: 0 auto;
      position: static;
      margin-top: -3rem;
      z-index: 3;
      //right: 0;
    }

    li {
      margin-bottom: 12rem;

      .module-text {
        z-index: 1;
        margin: 0 auto;
        position: static;
        width: 90%;
        padding-top: 3rem;
        margin-top: -6rem;
      }

      .blue-line {
        margin: 0 auto;
        background: $blue;
        width: 90%;
      }

      //p {
      .module-content {
        text-align: center;
        width: 75%;
        padding-right: 0;
        padding-left: 0;
        margin: 0 auto;
      }
    }

    li:nth-child(even) {
      .module-text {
        margin: 0 auto;
        //margin: 0;
        text-align: left;
        padding-top: 3rem;
        margin-top: -6rem;
      }

      .blue-line {
        margin: 0 auto;
      }

      .icon {
        left: 0;
      }

      //p {
      .module-content {
        width: 75%;
        margin-right: auto;
        padding-left: 0;
        padding-right: 0;
      } 
    }
  }
}

@media only screen and (max-width: $sm-breakpoint) {
  #team { 
    ul {
      margin-top: -3rem;
      margin-bottom: 15rem;
    }
    
    .icon-container {
      height: $base-icon-size * $sm-multiplier;
    }

    .icon {
      width: $base-icon-size * $sm-multiplier;
      height: $base-icon-size * $sm-multiplier;

      background-size: $base-icon-bg-size * $sm-multiplier;
      background-position: 50% ( 2.5rem  * $sm-multiplier );
    }

    button {
      width: $base-button-width * $sm-multiplier;
      //margin-top: -( ( $base-icon-size  * $sm-multiplier ) / 8);
      //right: 0;
      //right: $base-button-offset  * $sm-multiplier;
    }

    li {
      padding-bottom: $base-li-padding  * $sm-multiplier;

      .module-text {
        height: $base-module-height  * $sm-multiplier;
      }

      .blue-line {
        height: $sm-px;
        margin-top: $sm-px;
      }
    }

    li:nth-child(even) {
      .blue-line {
        margin-top: $sm-px;
      }
    }
  }
}