@import "base";

$icon-size: 12rem;
$module-height: 15rem;
$module-width: 20%;
$module-min-width: 13rem;
$module-padding: 1rem;
$module-margin: 0.75rem;
$module-margin-top: ($icon-size / 2);
$module-padding-top: ($icon-size / 2) - 1;
$module-text-padding-top: ($icon-size + 1);

#team { 
  .content {
    width: 100%;
  }

  ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    //background: blue;
  }

  li {
    margin: 0 auto;
    padding: 0;
    padding-bottom: 1rem;
    width: 100%;
    //background: white;

    .icon-container {
    }

    .module-text {
      margin-left: auto;
      display: -webkit-flex;
      display: flex;
      align-items: center;
      width: 65%;
      height: 14rem;
      background: $grey;
      text-align: left;
    }

    p {
      width: 55%;
      padding-left: 3rem;
    }
  }

  li:nth-child(even) {
    .module-text {
      margin: 0;
      text-align: right;
    }

    p {
      margin-left: auto;
      padding-right: 3rem;
    }
  }
}

/*#team { 
  ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
  }

  li {
    margin: 0 auto;
    width: 100%;
    height: 13rem;
    margin-bottom: 1rem;
  }

  .module-text {
    margin: 0 auto;
    display: flex;
    align-items: center;
    background: $grey;
    width: 70%;
    height: 11rem;
    margin-bottom: 1rem;

    p {
      width: 45%;
      min-width: 12rem;
      text-align: left;
      padding-left: 20%;
    }
  }

  .icon {
    width: $icon-size;
    height: $icon-size;
    background: $navy;
    border-radius: 50%;
    margin-left: -75%;
  }
}*/

/*#team {
  //background: blue;

  ul{
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
    width: 75%;
    //background: black;
  }

  li {

    .module-text {
      padding: 0;
      width: 75%;
      min-width: 35rem;
      padding-top: 2rem;
      padding-bottom: 2rem;
      margin-top: 1rem;
      background: $grey;
      z-index: 1;
    }

    .icon { 
      margin: 0 auto; 
      position: relative;
      width: $icon-size;
      height: $icon-size;
      background: #000076;
      border-radius: 50%;
      z-index: 3;
    }
  }

  li:nth-child(even) {
    .module-text {
      margin-left: auto;
    }

    p {
      margin-left: auto;
    }
  }
}

@media only screen and (max-width: 736px) { 
  #team {
    .content {
      width: 100%;
    }

    ul {
      width: 100%;
    }

    li {

      .module-text {
        margin: 0 auto;
        margin-bottom: 1rem;
        min-width: 100%;
        padding-top: 5rem;
        padding-bottom: 5rem;
      }

      p {
        margin: 0 auto;
        width: 83%;
        text-align: center;
      }
    }
  }
}*/

/* TO-DO
 - figure out why blue line margin-top is inconsistent with small-module's
 - how to make nth-child(even) work
 - mobile breakpoints
 - fix icon position
*/ 

/*$module-image-dim: 14vw;
$module-image-min-dim: 11rem;
$module-line-height: 0.5rem;

.side-module {
  list-style-type: none;
  padding: 0;

  .module-text {
    margin: 0 auto;
    padding: 0;
    background: $grey;
    min-height: 15rem;
    width: 50%;
    min-width: 22rem;
    margin-bottom: 3rem;
    display: -webkit-flex;
    display: flex;
    align-items: center;

    p {
      //line-height: 15rem;
    }
  }

  /*li.module-text:nth-child(even) {
    padding: 0;
    padding-right: 15rem;
  }*/

  /*.module-line {
    margin: 0 auto;
    margin-bottom: 3rem;
    margin-top: $module-line-height;
    height: $module-line-height;
    background: $blue;
    width: 100%;
  }*/

  /*.module-image {
    position: absolute;
    margin-top: .5rem;
    margin-left: 15rem;
    width: $module-image-dim;
    width: $module-image-min-dim;
    height: $module-image-dim;
    height: $module-image-min-dim;
    background: $navy;
    z-index: 3;
    border-radius: 50%;
  }
}*/