@import "base";

/* TO DO
- get a flexbox mixin
*/

$icon-size: 11rem;
$module-height: 13rem;
$module-width: 18%;
$module-min-width: 13rem;
$module-padding: 1.5rem;
$module-margin: 0.75rem;
$module-margin-top: -($icon-size / 2);
$module-padding-top: ($icon-size / 2);
$module-text-padding-top: ($icon-size + 1);


//@media only screen and (max-width: 2560px) {
  #services { 

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: -webkit-inline-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      flex-direction: row;
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap;
      justify-content: center;
      //background: black;
    }

    li {
      margin-bottom: 1rem;
      padding: 0;
    }

    .module-text {
      margin: 0 auto;
      //width: $module-width;
      width: $module-min-width * $xxl-multiplier;
      height: $module-height * $xxl-multiplier;
      padding: $module-padding * $xxl-multiplier;
      margin: $module-margin * $xxl-multiplier;
      background: $grey;
      margin-top: $module-margin-top * $xxl-multiplier; 
      padding-top: $module-padding-top * $xxl-multiplier; 
      z-index: 1;

      p {
        //text-align: justify;
      }
    }

   .blue-line {
      margin: 0 auto;
      position: relative;
      bottom: $xxl-px * 2.75;
      height: $xxl-px;
      background: $blue;
      width: ( $module-min-width * $xxl-multiplier ) + 2.5rem;
      padding: 0;
    }

    h3 {
      //padding-top: $module-text-padding-top * $xxl-multiplier; 
    }

    .icon-container {
      width: 100%;
      //background: black;
    }

    .icon {
      margin: 0 auto;
      position: relative;
      top: -$icon-size * ( $xxl-multiplier / 32 );
      //margin-top: -$icon-size * $xxl-multiplier;
      width: $icon-size * $xxl-multiplier;
      height: $icon-size * $xxl-multiplier;
      background: $navy;
      border-radius: 50%;
      z-index: 3;
      background-size: cover;
    }
  }
//}

@media only screen and (max-width: 1920px) {  
  #services { 
    .module-text {
      width: $module-min-width * $xl-multiplier;
      height: $module-height * $xl-multiplier;
      padding: $module-padding * $xl-multiplier;
      margin: $module-margin * $xl-multiplier;
      margin-top: $module-margin-top * $xl-multiplier; 
      padding-top: $module-padding-top * $xl-multiplier;
    }

    .blue-line {
      //bottom: ( $xl-px * 3 ) + 2;
      bottom: $xxl-px * 2.25;
      height: $xl-px;
      //width: ( $module-min-width * $xl-multiplier ) + ( $module-min-width / 4 );
      width: ( $module-min-width * $xl-multiplier ) + 2;
    }

    h3 {
      //padding-top: $module-text-padding-top * $xl-multiplier; 
    }

    .icon {
      top: -$icon-size * ( $xl-multiplier / 32 );
      //margin-top: -$icon-size * $xl-multiplier;
      width: $icon-size * $xl-multiplier;
      height: $icon-size * $xl-multiplier;
    }
  }

}

@media only screen and (max-width: 1440px) {
  #services { 
    .module-text {
      //width: $module-width;
      width: $module-min-width;
      height: $module-height;
      padding: $module-padding;
      margin: $module-margin;
      margin-top: $module-margin-top; 
      padding-top: $module-padding-top;
    }

    .blue-line {
      bottom: $base-px * 3;
      height: $base-px;
      width: $module-min-width + 2rem;
    }

    h3 {
      //padding-top: $module-text-padding-top; 
    }

    .icon {
      top: -$icon-size * ( 1 / 32 );
      //margin-top: -$icon-size;
      width: $icon-size;
      height: $icon-size;
    }
  }
}

@media only screen and (max-width: 414px) {
  #services { 
    .module-text {
      width: $module-min-width * $sm-multiplier;
      height: $module-height * $sm-multiplier;
      padding: $module-padding * $sm-multiplier;
      margin: $module-margin * $sm-multiplier;
      margin-top: $module-margin-top * $sm-multiplier; 
      padding-top: $module-padding-top * $sm-multiplier;
    }

    .blue-line {
      bottom: ( $sm-px * 4 );
      height: $sm-px;
      width: ( $module-min-width * $sm-multiplier ) + 1.75rem;
    }

    h3 {
      //padding-top: $module-text-padding-top * $sm-multiplier; 
    }

    .icon {
      top: -$icon-size * ( $sm-multiplier / 32 );
      //margin-top: -$icon-size * $sm-multiplier;
      width: $icon-size * $sm-multiplier;
      height: $icon-size * $sm-multiplier;
    }
  }
}