@import "base";

/* TO DO
- scale fonts better
- fix header widths on mobile
*/

$base-font-size: 0.95rem;

body {
  font-family: $body-font-family;
  color: $navy;
  text-align: center;
  font-size: $base-font-size;
}

h1 {
  font-family: $header-font-family;
  font-weight: normal;
  font-style: italic;
  font-size: 2.25rem;
  margin-bottom: -0.5rem;
}

h3 {
  font-weight: 500;
}

p {
  line-height: 1.5rem;
}

header {
  width: 35vw;
  margin: 0 auto;

  p {
    margin: 0 auto;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    width: 30vw;
  }
}

button {
  font-size: $base-font-size;
}

/*@media only screen and (max-width: 1024px) { 
  header {
    min-width: 30rem;

    p {
      min-width: 25rem;
    }
  }
}*/

@media only screen and (max-width: 1024px) { 
  header {
    min-width: 30rem;
  
    p {
      min-width: 26rem;
    }
  }

  .contact {
    header {
      min-width: 25rem;
    }
  
    p {
      min-width: 18rem;
    }
  }
}

@media only screen and (max-width: 768px) { 
  header {
    min-width: 24rem;
  
    p {
      min-width: 23rem;
    }
  }

  .contact {
    header {
      min-width: 18rem;
    }
  
    p {
      min-width: 17rem;
    }
  }
}

@media only screen and (max-width: 732px) { 
  header {
    min-width: 18rem;
  
    p {
      min-width: 17rem;
    }
  }
}

/*@import "../simple-grid";

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $font-weight-heavy;
}

p {
  font-weight: normal;
}

.section-text {
  h1 {
    margin: 0 auto;
    padding-top: 3rem;
    font-style: italic;
    font-family: $header-font-family;
    //font-size: $base-font-size * 2;
  }

  p {
    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    width: 32vw;
    min-width: 16rem;
  }
}

.module-text {
  h3 {
    margin-bottom: -0.5rem;
  }

  p {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.side-module {
  text-align: left;

  .module-text {
    p {
      width: 50%;
      padding-left: 10rem;
    }
  }
}*/