---
# Only the main Sass file needs front matter (the dashes are enough)
---

/* TO DO
- why is paragraph text not centered (DONE for now)
- hero mobile sizes
*/

//@import "minima";
//@import 'jeet/scss/index';
//@import 'simple-grid';
@import "partials/base";
@import "partials/transitions";
@import "partials/button";
@import "partials/typography";
@import "partials/footer";
@import "partials/small-module";
@import "partials/side-module";

$section-margin-bottom: 5rem;
$base-logo-size: 22rem;
$base-hero-section-min-size: 45rem;
$base-hero-section-max-size: 50rem;

@media only screen and (max-width: 2560px) {
  body {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    background: $off-white;
    overflow-x: hidden;
  }

  section {
    width: 100%;
    margin-bottom: $section-margin-bottom * $xxl-multiplier;
  }

  .content {
    margin: 0 auto;
    width: 85%;
  }

  header#hero {
    width: 100%;
  }

  #hero {
    margin: 0 auto;
    padding: 0;
    height: 80vh;
    min-height: $base-hero-section-min-size * $xxl-multiplier;
    max-height: $base-hero-section-max-size * $xxl-multiplier;
    display: flex;
    align-items: center;

    img {
      max-width: $base-logo-size * $xxl-multiplier;
    }
  }

  ::selection {
      background-color: $yellow;
      color: $navy;
  }
}

@media only screen and (max-width: 1920px) {
  section {
    margin-bottom: $section-margin-bottom * $xl-multiplier;
  }

  #hero {
    height: 85vh;
    min-height: $base-hero-section-min-size * $xl-multiplier;
    max-height: $base-hero-section-max-size * $xl-multiplier;

    img {
      max-width: $base-logo-size * $xl-multiplier;
    }
  }
}

@media only screen and (max-width: 1440px) {
  section {
    margin-bottom: $section-margin-bottom;
  }

  #hero {
    height: 90vh;
    min-height: $base-hero-section-min-size;
    max-height: $base-hero-section-max-size;

    img {
      max-width: $base-logo-size;
    }
  }
}

@media only screen and (max-width: 1024px) { 
  #hero {
    height: 60vh;
    min-height: 45rem;
  }
}

@media only screen and (max-width: 736px) { 
  #hero {
    height: 100vh;
    min-height: 35rem;
  }
}


/*body {
  margin:0 auto;
  font-family: $body-font-family;
  color: $navy;
  background: $off-white;
}

::selection {
    background-color: $yellow;
    color: $navy;
}

.bwc-header {
  height: 90vh;
  max-height: 60rem;
}

.bwc-section {
  width: 100%;
  text-align:center;
}

#hero {

  #logo {
    margin-top: 20vh;
    width: 25vw;
    min-width:20rem;
  }

  /*p { 
    margin: 0 auto;
    width: 20vw;
    min-width: 18rem;
  }*/
//}

/*.inline-buttons {
  margin: 0 auto;
  width: 40vw;
  height:auto;
  background: black;
}*/

/*@media only screen and (max-height: 1266px) and (orientation: portrait){
  .bwc-header {
    //height: 60vh;
    max-height: 40rem;
  }

  #hero {
    #logo {
      margin-top: 15vh;
    }
  }
}*/

/*@media only screen and (max-height: 1024px){
  .bwc-header {
    //height: 60vh;
    max-height: 40rem;
  }

  #hero {
    #logo {
      margin-top: 15vh;
    }
  }
}*/