---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "partials/base";
@import "partials/transitions";
@import "partials/button";
@import "partials/typography";
@import "partials/footer";
@import "partials/small-module";
@import "partials/side-module";

$section-margin-bottom: 5rem;
$base-logo-size: 22rem;
$base-hero-section-min-size: 45rem;
$base-hero-section-max-size: 50rem;

$hero-img-path: "images/hero/branches-";

$light-radius: 1.25rem;
$light-glow-radius: $light-radius * 2;
$glow-duration: 1.75s;

//@media only screen and (max-width: 2560px) {
  html {
    overflow-x: hidden;
  }
  
  body {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    background: $off-white;
    overflow-x: hidden;
  }

  section {
    width: 100%;
    margin-bottom: $section-margin-bottom * $xxl-multiplier;
    z-index: 3;
  }

  .content {
    margin: 0 auto;
    width: 85%;
  }

  header#hero {
    width: 100%;
  }

  #hero {
    margin: 0 auto;
    padding: 0;
    height: 80vh;
    min-height: $base-hero-section-min-size * $xxl-multiplier;
    max-height: $base-hero-section-max-size * $xxl-multiplier;
    display: flex;
    align-items: center;
    //background: $navy;
    //color: $off-white;
    background-image: url( $hero-img-path + "desktop.svg" );
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    //background-attachment: fixed;

    //margin-bottom: 4rem;
    
    img {
      max-width: $base-logo-size * $xxl-multiplier;
    }

    h2 {
      width: 30%;
      min-width: 20rem;
    }
  }
  
  #lights {
    //width: 100%;
    height: 80vh;
    min-height: $base-hero-section-min-size * $xxl-multiplier;
    max-height: $base-hero-section-max-size * $xxl-multiplier;
    //background: black;
  }

  .svg-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 0;
    //background: $navy;

    .light {
      fill: $yellow;
      -moz-opacity: 0.8;
      opacity: 0.8;
      r: $light-radius * $xxl-multiplier;
    }

    .light-glow {
      opacity: 0.5;
      r: $light-glow-radius * $xxl-multiplier; 

      @-webkit-keyframes glow { 
        0% { opacity: 0.5; } //r: $light-glow-radius * $xxl-multiplier; } 
        25% { opacity: 0.25; }
        50% { opacity: 0.0; } //r: $light-radius * 1.25 * $xxl-multiplier; } 
        75% { opacity: 0.25; }
        100% { opacity: 0.5; } //r: $light-glow-radius * $xxl-multiplier; color: $off-white; }
      }

      @-moz-keyframes glow { 
        0% { opacity: 0.5; } //r: $light-glow-radius * $xxl-multiplier; } 
        25% { opacity: 0.25; }
        50% { opacity: 0.0; } //r: $light-radius * 1.25 * $xxl-multiplier; } 
        75% { opacity: 0.25; }
        100% { opacity: 0.5; } //r: $light-glow-radius * $xxl-multiplier; color: $off-white; }
      }

      @keyframes glow { 
        0% { opacity: 0.5; } //r: $light-glow-radius * $xxl-multiplier; } 
        25% { opacity: 0.25; }
        50% { opacity: 0.0; } //r: $light-radius * 1.25 * $xxl-multiplier; } 
        75% { opacity: 0.25; }
        100% { opacity: 0.5; } //r: $light-glow-radius * $xxl-multiplier; color: $off-white; }
      }

      opacity: 0.25;
      -webkit-animation: glow ease-in 1; 
      -moz-animation: glow ease-in 1; 
      animation: glow ease-in 1; 
      -webkit-animation-duration: $glow-duration;
      -moz-animation-duration: $glow-duration;
      animation-duration: $glow-duration;
      animation-iteration-count: infinite;
    }

    .light-1 { 
      cx: 30%; 
      cy: 40%;
    }

    .light-2 {
      cx: 85%; 
      cy: 55%;
      -webkit-animation-delay: 0.5s; 
      animation-delay: 0.5s;
    }

    .light-3 { 
      cx: 85%; 
      cy: 15%;
      -webkit-animation-delay: 0.75s; 
      animation-delay: 0.75s;
    }

    .light-4 {
      cx: 20%; 
      cy: 20%;
      -webkit-animation-delay: 1s; 
      animation-delay: 1s;
    }

    .light-5 { 
      cx: 10%; 
      cy: 70%;
      -webkit-animation-delay: 1.25s; 
      animation-delay: 1.25s;
    }
  }

  ::selection {
      background-color: $yellow;
      color: $navy;
  }
//}

@media only screen and (max-width: 1920px) {
  section {
    margin-bottom: $section-margin-bottom * $xl-multiplier;
  }

  #hero {
    height: 85vh;
    min-height: $base-hero-section-min-size * $xl-multiplier;
    max-height: $base-hero-section-max-size * $xl-multiplier;

    img {
      max-width: $base-logo-size * $xl-multiplier;
    }
  }

  #lights {
    height: 85vh;
    min-height: $base-hero-section-min-size * $xl-multiplier;
    max-height: $base-hero-section-max-size * $xl-multiplier;
  }

  .svg-container {
    .light {
      r: $light-radius * $xl-multiplier;
    }

    .light-glow {
      opacity: 0.5;
      r: $light-glow-radius * $xl-multiplier; 

      @-webkit-keyframes glow { 
        0% { opacity: 0.5; } //r: $light-glow-radius * $xl-multiplier; } 
        25% { opacity: 0.25; }
        50% { opacity: 0.0; } //r: $light-radius * 1.25 * $xl-multiplier; } 
        75% { opacity: 0.25; }
        100% { opacity: 0.5; } //r: $light-glow-radius * $xl-multiplier; color: $off-white; }
      }

      @-moz-keyframes glow { 
        0% { opacity: 0.5; } //r: $light-glow-radius * $xl-multiplier; } 
        25% { opacity: 0.25; }
        50% { opacity: 0.0; } //r: $light-radius * 1.25 * $xl-multiplier; } 
        75% { opacity: 0.25; }
        100% { opacity: 0.5; } //r: $light-glow-radius * $xl-multiplier; color: $off-white; }
      }

      @keyframes glow { 
        0% { opacity: 0.5; } //r: $light-glow-radius * $xl-multiplier; } 
        25% { opacity: 0.25; }
        50% { opacity: 0.0; } //r: $light-radius * 1.25 * $xl-multiplier; } 
        75% { opacity: 0.25; }
        100% { opacity: 0.5; } //r: $light-glow-radius * $xl-multiplier; color: $off-white; }
      }
    }
  }
}

@media only screen and (max-width: 1440px) {
  section {
    margin-bottom: $section-margin-bottom;
  }

  #hero {
    height: 90vh;
    min-height: $base-hero-section-min-size;
    max-height: $base-hero-section-max-size;

    img {
      max-width: $base-logo-size;
    }
  }

  #lights {
    height: 90vh;
    min-height: $base-hero-section-min-size;
    max-height: $base-hero-section-max-size;
  }

  .svg-container {
    .light {
      r: $light-radius;
    }

    .light-glow {
      opacity: 0.5;
      r: $light-glow-radius; 

      @-webkit-keyframes glow { 
        0% { opacity: 0.5; } //r: $light-glow-radius; } 
        25% { opacity: 0.25; }
        50% { opacity: 0.0; } //r: $light-radius * 1.25; } 
        75% { opacity: 0.25; }
        100% { opacity: 0.5; } //r: $light-glow-radius; color: $off-white; }
      }

      @-moz-keyframes glow { 
        0% { opacity: 0.5; } //r: $light-glow-radius; } 
        25% { opacity: 0.25; }
        50% { opacity: 0.0; } //r: $light-radius * 1.25; } 
        75% { opacity: 0.25; }
        100% { opacity: 0.5; } //r: $light-glow-radius; color: $off-white; }
      }

      @keyframes glow { 
        0% { opacity: 0.5; } //r: $light-glow-radius; } 
        25% { opacity: 0.25; }
        50% { opacity: 0.0; } //r: $light-radius * 1.25; } 
        75% { opacity: 0.25; }
        100% { opacity: 0.5; } //r: $light-glow-radius; color: $off-white; }
      }
    }
  }
}

@media only screen and (max-width: 1024px) { 
  #hero {
    height: 60vh;
    min-height: 45rem;
  }

  #lights {
    height: 60vh;
    min-height: 45rem;
  }
}

@media only screen and (max-width: 1024px) and (orientation: landscape) { 
  #hero {
    background-image: url( $hero-img-path + "tablet-large-portrait.svg" );
  }
}


@media only screen and (max-width: 1024px) and (orientation: portrait) { 
  #hero {
    background-image: url( $hero-img-path + "tablet-large-portrait.svg" );
  }

  .svg-container {
    //top: -10%;
  }
}

@media only screen and (max-width: 768px) and (orientation: portrait) { 
  #hero {
    background-image: url( $hero-img-path + "tablet-portrait.svg" );
  }

  .svg-container {
    .light-1 { 
      display: none;
    }
  }
}

@media only screen and (max-width: 736px) { 
  #hero {
    background-image: url( $hero-img-path + "mobile-landscape.svg" );
  }
}

/*@media only screen and (max-width: 736px) and (orientation: portrait) { 
  #hero {
    background-image: url( "/assets/images/hero/branches-mobile-landscape.svg" );
  }
}*/


@media only screen and (max-width: 736px) and (orientation: landscape) { 
  #hero {
    //background-image: url( "./assets/images/hero/branches-mobile-landscape.svg" );
  }
  
  .svg-container {
    .light-1 { 
      display: none;
    }
  }

  /*.svg-container {
    .light-1 { 
      cx: 30%; 
      cy: 50%;
    }

    .light-2 {
      display: none;
    }

    .light-3 { 
      cx: 85%; 
      cy: 25%;
      -webkit-animation-delay: 0.75s; 
      animation-delay: 0.75s;
    }

    .light-4 {
      cy: 10%;
    }

    .light-5 { 
      display: none;
    }
  }*/
}

@media only screen and (max-width: 640px) and (orientation: portrait) { 
  #hero {
    background-image: url( $hero-img-path + "mobile-landscape.svg" );
    //background-size: contain;
  }
}

@media only screen and (max-width: 640px) and (orientation: landscape) { 
  #hero {
    background-image: url( $hero-img-path + "mobile-small-landscape.svg" );
  }
}

@media only screen and (max-width: 375px) {
  #hero {
    img {
      max-width: $base-logo-size * $sm-multiplier;
    }
  }

  .svg-container {
    .light {
      r: $light-radius * $sm-multiplier;
    }

    .light-glow {
      opacity: 0.5;
      r: $light-glow-radius * $sm-multiplier; 

      @-webkit-keyframes glow { 
        0% { opacity: 0.5; } //r: $light-glow-radius * $sm-multiplier; } 
        25% { opacity: 0.25; }
        50% { opacity: 0.0; } //r: $light-radius * 1.25 * $sm-multiplier; } 
        75% { opacity: 0.25; }
        100% { opacity: 0.5; } //r: $light-glow-radius * $sm-multiplier; color: $off-white; }
      }

      @-moz-keyframes glow { 
        0% { opacity: 0.5; } //r: $light-glow-radius * $sm-multiplier; } 
        25% { opacity: 0.25; }
        50% { opacity: 0.0; } //r: $light-radius * 1.25 * $sm-multiplier; } 
        75% { opacity: 0.25; }
        100% { opacity: 0.5; } //r: $light-glow-radius * $sm-multiplier; color: $off-white; }
      }

      @keyframes glow { 
        0% { opacity: 0.5; } //r: $light-glow-radius * $sm-multiplier; } 
        25% { opacity: 0.25; }
        50% { opacity: 0.0; } //r: $light-radius * 1.25 * $sm-multiplier; } 
        75% { opacity: 0.25; }
        100% { opacity: 0.5; } //r: $light-glow-radius * $sm-multiplier; color: $off-white; }
      }
    }
  }
}