---
layout: default
---

<div class="home">

  <h1 class="page-heading">Services</h1>
  
  <!--{{ content }}-->

  <ul class="post-list">
    {% for small-module in site.services %}
      <li>
        <h2>
          {{ small-module.title | escape }}
        </h2>

        <p>
          {{ small-module.text | escape }}
        </p>
      </li>
    {% endfor %}
  </ul>

  <ul class="post-list">
    {% for side-module in site.team %}
      <li>
        <p>
          {{ side-module.text | escape }}
        </p>
      </li>
    {% endfor %}
  </ul>

  <!--<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>-->

</div>
