---
layout: default
---

<div class="home">

  <section id="services">
    <header>
      <h1>What we can do for you</h1>
      <p>We pride ourselves on practical yet imaginative design solutions to bring out the best of your brand. It’s about <b>you</b> and your <b>audience</b>.</p>
    </header>

    <div class="content">

      <ul class="small-module">
        {% for small-module in site.services %}
          <li>
            <div class="icon-container">
              <div class="icon" style="background-image: url({{ small-module.image }})" />
            </div>


            <div class="module-text">
              <h3>{{ small-module.title | escape }}</h3>
              <p>{{ small-module.text | escape }}</p>
            </div>

            <!--<div class="blue-line" />-->
          </li>
        {% endfor %}
      </ul>

      <a target="_blank" href="assets/design-packages.pdf"><button class="highlight">Check out our design packages</button></a>
    </div>

  </section>

  <section id="team">
    <header>
      <h1><span id="sparkle emoji" style="font-style: normal;">✨</span> The Ultimate Dream Team</h1>
      <p>Plotting to take over the world? Count us in...we’ll bring our <b>design flair</b> and <b>visionary ideas</b>. Shooting a little lower? We can start small and aim for your industry.</p>
    </header>

    <div class="content">

      <ul class="side-module">
        {% for side-module in site.team %}
          <li>
            <div class="icon-container">
              <div class="icon" id="{{side-module.title | escape }}-icon" style="background-image: url({{ side-module.image }})" />
            </div>
            
            <div class="module-text">
              <div class="module-content">
                <h3>{{ side-module.title | escape }}</h3>
                <h4>{{ side-module.role | escape }}</h4>
                <p>
                  {{ side-module.text | escape }}
                </p>
              </div>
            </div>

            <!--<div class="blue-line" />-->

            <a href=" {{ side-module.URL | escape }} " target="_blank"><button>{{ side-module.button | escape }}</button></a>
            
          </li>
        {% endfor %}
      </ul>

    </div>
  </section>
</div>
