---
layout: default
---

<div class="home">

  <section id="services">
    <header>
      <h1>What we can do for you</h1>
      <p>We pride ourselves on practical yet imaginative design solutions to bring out the best of your brand.</p>
    </header>

    <div class="content">

      <ul class="small-module">
        {% for small-module in site.services %}
          <li>
            <div class="icon-container">
              <div class="icon" style="background-image: url({{ small-module.image }})" />
            </div>


            <div class="module-text">
              <h3>{{ small-module.title | escape }}</h3>
              <p>{{ small-module.text | escape }}</p>
            </div>

            <!--<div class="blue-line" />-->
          </li>
        {% endfor %}
      </ul>

      <a target="_blank" href="assets/design-packages.pdf"><button class="highlight">Check out our design packages</button></a>
    </div>

  </section>

  <section id="team">
    <header>
      <h1>Three women, three talents</h1>
      <p>Three's a magic number, after all.</p>
    </header>

    <div class="content">

      <ul class="side-module">
        {% for side-module in site.team %}
          <li>
            <div class="icon-container">
              <div class="icon" id="{{side-module.title | escape }}-icon" style="background-image: url({{ side-module.image }})" />
            </div>
            
            <div class="module-text">
              <p>
                {{ side-module.text | escape }}
              </p>
            </div>

            <!--<div class="blue-line" />-->

            <a href=" {{ side-module.URL | escape }} " target="_blank"><button>{{ side-module.title | escape }}'s Portfolio</button></a>
            
          </li>
        {% endfor %}
      </ul>

    </div>
  </section>
</div>
